@use '../../sassUtil/index' as u;
.hero__svg{
  // BUG when using u.toRem(1.25) nothing is applied
    width: 20rem;
    position: absolute;
    left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
 

}
.hero__button{
  font-size: u.toRem(32);
  transition-duration: .3s;
  transition-property: all;
}