.Contact-form input {
	color: rgb(33, 44, 40);
}
.Contact-form button {
	align-self: center;
	margin-top: 1.875rem;
	width: 50%;
}
.Contact-form span {
	margin-bottom: 0.9375rem;
	display: flex;
	flex-direction: column;
	label {
		border-bottom: rgba(100, 226, 181, 0.7) solid;
		width: fit-content;
		text-align: start;
		margin-bottom: 0.625rem;
	}
}
